<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/mystyle.css" />
    <link rel="stylesheet" href="~/Fonts/themify-icons/themify-icons.css" />
    <link href="~/Scripts/script.js" rel="stylesheet" />
    <script src="~/Scripts/JavaScriptlinedown.js"></script>
    <style>
        .login form {
        }
    </style>
</head>

<body>

   <div>
       @RenderBody()
   </div>
</body>
</html>
