<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/mystyle.css" />
    <link rel="stylesheet" href="~/Fonts/themify-icons/themify-icons.css" />
    <link href="~/Scripts/script.js" rel="stylesheet" />
    <script src="~/Scripts/JavaScriptlinedown.js"></script>

</head>
<body>
    <div id="div-top">
        <ul id="nav">
            <li id="top-logo">
                <img src="~/Images/logo-removebg-preview.png" alt="logo" class="logo" />

            <li>
            <li>
                <a href="/Home/TrangChu">Trang Chủ</a>
            </li>
            <li>
                <a href="">Hướng Dẫn Mua Hàng</a>
            </li>
            <li>
                <a href="/Users/Login">Đăng nhập</a>
            </li>
            <li>
                <a href="">Nhiều Hơn</a>
                <ul class="subnav">
                    <li>
                        <a href="">content</a>
                    </li>
                    <li>
                        <a href="">content</a>
                    </li>
                    <li>
                        <a href="">content</a>
                    </li>
                </ul>
            </li>
            @* <li>
            <div class="wrap">
                <form action="" class="search" method="post">
                    <input type="text" class="searchTerm" placeholder="Bạn muốn tìm gì?">
                    <button type="submit" class="searchButton">
                        Submit
                    </button>
                </form>
            </div>
        </li>*@
        </ul>
        <div class="search-btn">

            @Html.Action("CartPartial", "Cart")

        </div>
    </div>
    <div id="div-main">
        <div class="order-sidebar sidebar-left">
            <div class="list-card" style="background-color:lightgrey; min-height: 600px;width:150px;padding-top:50px">
              
                @{ Html.RenderAction("CategoryPartial", "Categories");}
            </div>
        </div>
        <div class="order-sidebar sidebar-right">
            @RenderBody()
        </div>

    </div>
    <div id="div-footer">
        Trường Đại Học Ngoại Ngữ Tin Học HUFLIT
      
    </div>
</body>
</html>