<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/mystyle.css" />
    <link rel="stylesheet" href="~/Fonts/themify-icons/themify-icons.css" />
    <link href="~/Scripts/script.js" rel="stylesheet" />
    <script src="~/Scripts/JavaScriptlinedown.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body>
    <div id="div-top">
        <ul id="nav">
            <li id="top-logo">
                <a href="/Home/TrangChu">
                    <img src="~/Images/logo-removebg-preview.png" alt="logo" class="logo" link />
                </a>



                @* <li>
                    <div class="wrap">
                        <form action="" class="search" method="post">
                            <input type="text" class="searchTerm" placeholder="Bạn muốn tìm gì?">
                            <button type="submit" class="searchButton">
                                Submit
                            </button>
                        </form>
                    </div>
                </li>*@
            <li>
                <div class="wrap">
                    <form action="" class="search" method="post">
                        @using (Html.BeginForm("ProductList", "Products", FormMethod.Get))
                        {
                            <table>
                                <tr>
                                    <td>
                                        <input class="input-search" name="SearchString" placeholder="Tìm sản phẩm..." />
                                    </td>
                              </tr>
                            </table>
                        }
                    </form>
                </div>
            </li>        
        </ul>
        <ul class="nav2" style="float:right;display:flex">
            <div class="navlogin">
                <a class="ti-github">
                    @if (Session["TaiKhoan"] != null)
                    {
                        @Session["TaiKhoan"]

                    }
                </a>
                <ul class="navlog">
                    <li>
                        <a href="/Home/TrangChu">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
            <li >
                <div class="search-btn" >
                @Html.Action("CartPartial", "Cart")
                     </div>
            </li>

        </ul>
      
       


    </div>
<div id="div-main">
    <div class="sidebar-left" style="height:100%;background-color:white;width:30%">
        <div class="list-card" style="height: 100%;width:100%">
            @{ Html.RenderAction("CategoryPartial", "Categories");}
        </div>
    </div>
    <div class="sidebar-right">
        @RenderBody()
    </div>

</div>
<div id="div-footer">
    Trường Đại Học Ngoại Ngữ Tin Học HUFLIT

</div>
</body>
</html>