@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="page page-history">
    <div style="height: 300px; text-transform: uppercase; font-size: 36px; color: #d3b673; letter-spacing: 1.8px; font-family: BalooExtra; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/breadcrumb_bg5.png) no-repeat center; background-size: cover; display: flex; justify-content: center; align-items: flex-end; padding-bottom: 30px; text-align: center; padding-left: 10%; padding-right: 10%;; background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://tocotocotea.com/wp-content/themes/tocotocotea/assets/images/breadcrumb_bg5.png) no-repeat center; " class="page-top-banner">
        Giới thiệu
    </div>
    <div class="page-content container">
        <div data-elementor-type="wp-page" data-elementor-id="1252" class="elementor elementor-1252" data-elementor-settings="[]">
            <div class="elementor-section-wrap">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-2bab076 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2bab076" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6ca0142" data-id="6ca0142" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-29382ad elementor-widget elementor-widget-text-editor" data-id="29382ad" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p><!-- wp:paragraph {"className":"page-title"} --></p>
                                        <p class="page-title">Giới thiệu</p>
                                        <p>
                                            <!-- /wp:paragraph -->
                                            <!-- wp:paragraph -->
                                        </p>
                                        <p>Luôn tâm huyết với việc khai thác nguồn nông sản Việt Nam để tạo ra những ly thức uống tươi ngon, an toàn và giàu giá trị dinh dưỡng, ToCoToCo mở cửa hàng đầu tiên vào năm 2013, mang trong mình lòng đam mê và khát vọng xây dựng một thương hiệu trà sữa thuần Việt, mang đậm hương vị quê hương.ToCoToCo tin rằng thưởng thức một ly trà sữa được pha chế từ trà Mộc Châu, trân châu từ sắn dây Nghệ An hay mứt dâu tằm từ Đà Lạt sẽ là những trải nghiệm hoàn toàn khác biệt và tuyệt vời nhất cho những khách hàng của mình.</p>
                                        <p>
                                            <!-- /wp:paragraph -->
                                            <!-- wp:paragraph -->
                                        </p>
                                        <p>Cũng chính từ sự khác biệt đó, thương hiệu ToCoToCo đã có những bước phát triển thần tốc và dần chiếm lĩnh thị trường trà sữa với hơn 200 cửa hàng trải dài trên toàn quốc. Cột mốc năm 2018 đánh dấu ước mơ vươn xa biển lớn của thương hiệu khi ToCoToCo chính thức đặt chân lên nước Mỹ và tiếp nối thành công tại Úc, Nhật Bản, Hàn Quốc, Singapore,…</p>
                                        <p>
                                            <!-- /wp:paragraph -->
                                            <!-- wp:paragraph -->
                                        </p>
                                        <p>Hành trình đầy đam mê và tâm huyết này sẽ tiếp tục nhân rộng để lan tỏa những ly trà thuần khiết nông sản Việt đến mọi miền trên Việt Nam và thế giới.</p>
                                        <p>
                                            <!-- /wp:image -->
                                            <!-- wp:paragraph -->
                                        </p>
                                        <p><!-- /wp:paragraph --></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-ebbbd35 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ebbbd35" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5c67493" data-id="5c67493" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-a382d02 elementor-widget elementor-widget-image" data-id="a382d02" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img width="1" height="1" src="https://tocotocotea.com/wp-content/uploads/2021/03/1.webp" class="attachment-large size-large" alt="" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-1d4dec3 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1d4dec3" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-84e54a3" data-id="84e54a3" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-9ba2a00 elementor-widget elementor-widget-image" data-id="9ba2a00" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img width="1" height="1" src="https://tocotocotea.com/wp-content/uploads/2021/03/1.webp" class="attachment-large size-large" alt="" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-007baa1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="007baa1" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cee8239" data-id="cee8239" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-ea0e6c4 elementor-widget elementor-widget-image" data-id="ea0e6c4" data-element_type="widget" data-widget_type="image.default">
                                    <div class="elementor-widget-container">
                                        <img width="1" height="1" src="https://tocotocotea.com/wp-content/uploads/2021/03/2.webp" class="attachment-large size-large" alt="" loading="lazy" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
</body>