
@{
    ViewBag.Title = "DesktopComputer";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/stylepro.css" />
<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
<link rel="stylesheet" href="~/Content/mystyle.css"/>


<h2 style="text-align: center">Trà Sữa</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="box-pro">
                <img class="size-img" src="~/Images/Trasua1.png" />
                <div class="box-description">
                    <p class="margin-des">Trà sữa truyền thống</p>
                    <p class="margin-des">Giá: 10.000.000</p>
                    <input type="button" value="Mua"/>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box-pro">
                <img class="size-img" src="~/Images/trasuabacha.png" />
                <div class="box-description">
                    <p class="margin-des">Trà sữa Bạc Hà</p>
                    <p class="margin-des">Giá: 10.000.000</p>
                    <input type="button" value="Mua" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box-pro">
              <img class="size-img" src="~/Images/trasuadautay.png" />
              <div class="box-description">
                  <p class="margin-des">Trà sữa Dâu Tây</p>
                  <p class="margin-des">Giá: 10.000.000</p>
                  <input type="button" value="Mua" />
              </div>
            </div>
        </div><div class="col-lg-4 col-md-6">
            <div class="box-pro">
                <img class="size-img" src="~/Images/Trasuamatcha.png" />
                <div class="box-description">
                    <p class="margin-des">Trà sữa Mất Cha</p>
                    <p class="margin-des">Giá: 10.000.000</p>
                    <input type="button" value="Mua" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box-pro">
                <img class="size-img" src="~/Images/trasuaolong.png" />
                <div class="box-description">
                    <p class="margin-des">Trà sữa Ô Long</p>
                    <p class="margin-des">Giá: 10.000.000</p>
                    <input type="button" value="Mua" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box-pro">
                <img class="size-img" src="~/Images/Trasuaolongthaicuc.png" />
                <div class="box-description">
                    <p class="margin-des">Trà sữa Ô Long Thái Cực</p>
                    <p class="margin-des">Giá: 10.000.000</p>
                    <input type="button" value="Mua" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box-pro">
                <img class="size-img" src="~/Images/Trasuasocola.png" />
                <div class="box-description">
                    <p class="margin-des">Trà sữa Socola</p>
                    <p class="margin-des">Giá: 10.000.000</p>
                    <input type="button" value="Mua" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box-pro">
                <img class="size-img" src="~/Images/trasuatranchaukem.png" />
                <div class="box-description">
                    <p class="margin-des">Trà sữa Trân Châu Kem</p>
                    <p class="margin-des">Giá: 10.000.000</p>
                    <input type="button" value="Mua" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box-pro">
                <img class="size-img" src="~/Images/trasuavinhai.png" />
                <div class="box-description">
                    <p class="margin-des">Trà sữa Vị Nhài</p>
                    <p class="margin-des">Giá: 10.000.000</p>
                    <input type="button" value="Mua" />
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="box-pro">
                <img class="size-img" src="~/Images/Trasua1.png" />
                <div class="box-description">
                    <p class="margin-des">Trà sữa truyền thống</p>
                    <p class="margin-des">Giá: 10.000.000</p>
                    <input type="button" value="Mua" />
                </div>
            </div>
        </div>
    </div>
</div>
