
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .section-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section-title .text1 {
            color: #d3b673;
            font-size: 22px;
            margin-bottom: 5px;
            font-family: Muli, sans-serif;
            font-weight: bold;
    }
        .section-title .text2 {
            font-size: 36px;
            text-align: center;
            text-transform: capitalize;
            color: #000000;
            margin-bottom: 10px;
            font-family: "BalooExtra" !important;
            letter-spacing: .5px;
            text-transform: uppercase;
            margin-bottom: 0 !important;
            padding: 50px 400px;
        }
    .icon {
        background: url(https://tocotocotea.com/wp-content/themes/tocotocotea/assets/images/home_line.webp) no-repeat center;
        width: 315px;
        height: 30px;
    }

</style>

<div style="margin: 10px auto; width: 90%;">
    <div class="section-title" >
        <div class="text1">
            MENU
        </div>
        <div class="text2">
            DANH SÁCH SẢN PHẨM
        </div>
        <div class="icon">

        </div>
    </div>
    <div class="row">
        @foreach (var sanpham in Model)
        {
            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card h-100">
                    <img class="card-img-top"
                         src="~/Images/@sanpham.ImagePro">
                    <div class="card-body" style="text-align: center">
                        <h4 class="card-title">@sanpham.NamePro</h4>
                        <p class="card-text">@sanpham.Price</p>

                        @Html.ActionLink("CHI TIẾT", "Details", "CusTomerProducts", new { id = sanpham.ProductID }, new { @class = "btn btn-primary" })
                        <a href="/Cart/AddToCart/@sanpham.ProductID" class="btn btn-primary">Thêm vào giỏ</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

