body {
    margin: 0;
    height:100%
}
#div-top {
    height: 50px;
    background-color: green
   
}
#nav
{
    display:inline-block;
}

#nav li
{
    display:inline-flex
}
    #nav li a {
        color: gold;
        text-decoration: none;
        line-height:50px;
        padding:0 16px;
}
h3
{
    color:deeppink;
}
#danhsach li a
{
    text-decoration:none;
    color:hotpink;
}
#nav li:hover a
{
    color:black;
    background-color:hotpink;
}
#nav .subnav
{
    display:none
}
.search {
    width: 100%;
    position: relative;
    display: flex;
}
.searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}
.searchTerm:focus 
{
        color: #00B4CC;
    }
.searchButton {
    width: 100px;
    height: 20px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 15px;
}
.wrap {
    width: 30%;
    position: absolute;
    padding: 0 60px;
    top: 20px;
    left: 600px;
}

#div-top .search-btn {
    float: right;
    padding: 13px 41px;
}
#div-top .search-btn:hover
{
    color:white;
    background-color:deeppink;
}
#div-top .search-icon {
    color: #ffff;
    font-size: 20px;
}

#div-main {
    display: flex;
    flex-direction: row;
}
#danhsach li:hover a
{
    background-color:lightpink;

}
#div-left {
    width: 25%;
    height: auto;
    font-family: Arial;
    font-size: 20px;
}

    #div-left h3 {
        text-align: center;
    }

#div-right {
    width: 75%;
    background-color: antiquewhite;
}

#div-footer {
    height: 50px;
    background-color: burlywood;
    bottom: 0px;
    text-align: center;
    left: 50%;
    padding-top: 25px;
}

