
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    
}

<div style="margin: 10px auto; width: 70%;">
    <h2 style="text-align: center">CHI TIẾT SẢN PHẨM</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <img style="width: 100%;" src="~/Images/@Model.ImagePro">
        </div>
        <div class="col-md-6">
            <h4>Tên sản phẩm: @Model.NamePro</h4>
            <p style="text-align: justify">
                <span style="font-weight: bold">Mô tả:</span> @Model.DecriptionPro
            </p>
            <p class="price">
                Giá bán: <span style="color:red; font-size:24px;">
                    @Model.Price
                    VNĐ
                </span>
            </p>




            <a class="btn btn-primary" href="@Url.Action("AddToCart", "Cart", new {id = Model.ProductID })">
                ĐẶT MUA
            </a>
        </div>
       

          
            <p>
                <div class="fb-like" data-href="https://demoweb20221201151526.azurewebsites.net/CusTomerProducts/Details/" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="false"></div>
            </p>
        </div>
    </div>


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v15.0" nonce="R3V11G4H"></script>
<div id="fb-root" style="text-align: center; font-size: calc(1.275rem + .3vw); font-family: var(--bs-body-font-family);">ĐÁNH GIÁ</div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v15.0" nonce="j3VpksDv"></script>
<div class="fb-comments" data-href="https://demoweb20221201151526.azurewebsites.net/CusTomerProducts/Details/" data-width="100%" data-numposts="5"></div>
